<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <link
          rel="shortcut icon"
          href="/src/assets/favicon.ico"
          type="image/x-icon"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 114 26.6"
          class="logo"
          width="10rem"
          fill="var(--logo-color)"
        >
          <style>
            .text {
              font: italic;
              size: 10px;
            }
          </style>
          <text x="10" y="20" class="text" font-family="monospace">
            Abhishek
          </text>
        </svg>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
