---
title: About
layout: "base.njk"
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">About Me</h1>
      <p class="hero__content flow">
        I’m Abhishek. I live in Kerala, India. I like programming, writing,
        anime, reading, music, gaming and playing football. I’m currently a
        student with interest in law. I like Social Science and English, and I
        am planning to major in humanities. I’m crazy about tech, especially
        smartphones. I currently daily-drive a Galaxy A34 5G and a Lenovo
        ideapad Slim 5. I’ve also taught myself Python and took a game-dev
        course in JavaScript. I prefer coding in Python but I do enjoy vanilla
        web development. I’m trying to learn React to develop better apps. This
        blog was made with the JAM Stack.
        <br>
        <br>
        Check out all my coding projects on my <a style="text-decoration: underline"
        target="_blank"
        rel="noopener" href="https://github.com/abhishek7h">Github</a>. My projects are mainly in Python, check out all of them <a style="text-decoration: underline"
        target="_blank"
        rel="noopener" href="https://github.com/abhishek7h/python">here</a>!
        <br>
        <br>
        You can also read my articles on <a style="text-decoration: underline"
        target="_blank"
        rel="noopener" href="https://ah3.medium.com">Medium</a>.
        <br>
        <br>
        CW: Naruto Shippuden, Horimiya
        <br>
        CR: The Spanish Love Deception, Atomic Habits
      </p>
      <h2>Social Profiles</h2>
      <br>
        <button class="lib-btn">
          <a
            style = "text-decoration: none" target="_blank"
            rel="noopener"
            href="https://twitter.com/abhishek7h"
            >Twitter</a
          >
        </button>
        <button class="lib-btn">
          <a
            style = "text-decoration: none" target="_blank"
            rel="noopener"
            href="https://instagram.com/inlovewiththeskies"
            >Instagram</a
          >
        </button>

        <button class="lib-btn">
          <a style = "text-decoration: none" target="_blank" rel="noopener" href="https://ah3.medium.com"
            >Medium</a
          >
        </button>
        <button class="lib-btn">
          <a style = "text-decoration: none" target="_blank" rel="noopener" href="https://github.com/abhishek7h"
            >Github</a
          >
        </button>
        <button class="lib-btn">
          <a
            style = "text-decoration: none" target="_blank"
            rel="noopener"
            href="https://open.spotify.com/user/31ud5p6u4yvlbtwiv4ho3vkqunam?si=97f8bbbc85574a5e"
            >Spotify</a
          >
        </button>
        <button class="lib-btn">
          <a style = "text-decoration: none" target="_blank" rel="noopener" href="https://ah3.read.cv">CV</a>
        </button>
        <button class="lib-btn">
          <a style = "text-decoration: none" target="_blank" rel="noopener" href="https://ah3.gumroad.com"
            >Gumroad</a
          >
        </button>
        <button class="lib-btn">
          <a style = "text-decoration: none" target="_blank" rel="noopener" href="mailto:abhishek18h@gmail.com"
            >Email</a
          >
        </button>
      </p>
    </div>
  </div>
</section>
